/*css part of the prismatic night theme. visit https://github.com/dbuxy218/Prismatic-Night*/
/*MANDATORY*/
@import url("patches/tabs-custom.css");
@import url("patches/nav-bar-custom.css");
@import url("patches/tabs-below-nav-bar.css");
@import url("patches/transition-color.css");
/*OPTIONAL*/
/*@import url("patches/tabs-below-content.css");*/

/*USE ANY ONE at once*/
/*@import url("patches/ctrl+l-access.css");*/
@import url("patches/hover-access.css");


#urlbar #identity-icon {
  visibility: collapse !important;
  transition: 300ms !important; /* Animate icon hiding */
  opacity: 0 !important; /* Make icons transparent */
  -moz-margin-end: -1.1em !important; /* Hide icons by offsetting them */
}
/* Show info icon on identity-box hover */
#identity-box:hover #identity-icon {
  visibility: visible !important;
  transition: 300ms !important; /* Animate icon showing */
  opacity: 1 !important; /* Make icons opaque */
  -moz-margin-end: initial !important; /* Use initial margins to show icons */
}

#tracking-protection-icon-container {
  display: none !important;
}

/* Page action-buttons "slide in" when cursor is on top of them and don't reserve space when not used */
#page-action-buttons > *[class^=urlbar-icon]{
  margin-inline-start: 0px;
  /* margin-inline-end: -26px; /*
  opacity: 0;
  transition: margin-inline-end 200ms linear, opacity 200ms linear;
}
:root[uidensity="compact"] #page-action-buttons > *[class^=urlbar-icon]{ margin-inline-end: -26px; }
#page-action-buttons:hover > *[class^=urlbar-icon],
#page-action-buttons > *[class^=urlbar-icon][open],
#page-action-buttons > *[class^=urlbar-icon][open] ~ *[class^=urlbar-icon]{
  opacity: 1;
  margin-inline-end: 0px !important;
}
/*
 * Description: Hides the Tracking Protection icon.
 *
 * Contributor(s): Joachim Vandersmissen, Strappazzon
 */

#tracking-protection-icon-box {
  visibility: collapse !important;
}

#identity-box:hover > #tracking-protection-icon-box {
  visibility: visible !important;
}
/*
 * Automatically hides the built-in reload button until navbar hover or page load
 *
 * Contributor(s): Madis0
 */

/* Hide the reload button by default */
#reload-button {
  transition: 300ms !important; /* Animate icon hiding */
  opacity: 0 !important; /* Make icon transparent */
  -moz-margin-end: -2em !important; /* Hide icon by offsetting it */
}

/* Show the reload button on navbar hover or page load (animation/stop button) */
#nav-bar:hover #reload-button,
#stop-reload-button[animate] > #reload-button:not([displaystop]) {
  transition: 300ms !important; /* Animate icon showing */
  opacity: 1 !important;  /* Make the icon opaque */
  -moz-margin-end: initial !important; /* Use initial margins to show the icon */
}